<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="utf-8" />
	<title>$interpolate</title>
</head>
<body>

<div class="container" ng-controller="appController">
	<input type="text" name="name" ng-model="expression" />
	<span>解析后的值:</span><span>{{parseValue}}</span>
</div>
<script type="text/javascript" src="../js/angular/angular.js"></script>
<script type="text/javascript">
	(function () {
		angular.module("app", ["ng"])
			.controller("appController", ["$scope", "$interpolate", function ($scope, $interpolate) {
					$scope.expression = "google";
					$scope.$watch("expression", function (newVal, oldVal) {
						if (newVal !== oldVal) {
							var template = $interpolate(newVal);
							$scope.parseValue = template({to: $scope.expression});
						}
					});
			}]);
	})();
</script>
</body>
</html>